@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v6/gk5FxslNkTTHtojXrkp-xONSK5BxN3NFS4EJkViHIqo.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v6/gk5FxslNkTTHtojXrkp-xF1YPouZEKgzpqZW9wN-3Ek.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
h1,h3{
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    margin: 0px;
    color: #555;
}
h1{
    font-size: 44px;
    margin: 10px 0 0 0;
}
h3{
    font-size: 18px;
}
ul,ol{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
body {
    padding-top: 60px;
    background:#eee url('../images/debut_light.png') repeat;
    font-size: 14px;
    font-weight: 400;
    color: #444;
}
.engulf{
    overflow: hidden;
}

#profile{
    margin: 0px auto;
    background: #fff;
    float: none;
    font-family: 'Open Sans';
}
.profile-description{
    padding-left: 15px;
    color: #777;
}
.profile-img img{
    width: 200px;
}
.profile-description p{
    display: inline-block;
}
ul.quicklinks{
    margin:25px auto auto;
    display: table;
}
ul.quicklinks li{
    float: left;
    margin-right: 0px;
}
ul.quicklinks i.icon-large{
    font-size: 30px;
    color: #999;
}
ul.quicklinks li i:hover{
    text-decoration: none;
    color: #3A87AD;
}
.timeline{
    background: url('../images/timeline_bg.png') repeat-y center top;
    float: left;
    width: 100%;
}
.heading{
    text-align: center;
    margin: 20px auto 0 auto;
    width: 200px;
    font-family: 'Open Sans Condensed';
    font-size: 16px;
    font-weight: 700;
}
div.list-block{
    background: #fff;
    padding: 8px 18px;
    margin: 20px auto 0 auto;
    display: table;
    text-align: center;
    min-width: 600px;
    border-top: 4px solid #d9edf7;
    font-family: 'Open Sans';
}
.timeline .label{
    margin: 5px auto ;
    display: table;
}
span.more-info{
    display: inline-block;
    font-size: 12px;
}
.list-block ol li{
    border-bottom: 1px solid #efefef;
    padding: 5px 0px;
}
.buttons{
    margin: 10px 5px;
}
/* override bootstrap icon styles*/
i{
    display: inline-block;
    width: auto;
    height: auto;
    margin-top: 4px !important;
    line-height: 0px;
    vertical-align: text-top;
    background-image: none !important;
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
.bold{
    letter-spacing: 1px;
    display: block;
}
a.themeswicth{
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-shadow:none;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}